.nav-containor {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: bisque;
}

.list {

    display: flex;
    list-style: none;
}

.list1 a {
    text-decoration: none;
    color: bisque;

}

.list1 {
    margin: 2px 20px;

}

.nav-logo {

    margin-left: 30px;
}

.nav-containor::before {

    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 80px;
    z-index: -1;
    left: 0px;
    top: 0px;
    opacity: 0.6;
}

.h-containor::before {

    content: "";
    background-image: url('makeup-4255831_1280.jpg');
    position: absolute;
    width: 100%;
    height: 600px;
    z-index: -1;
    left: 0px;
    top: 0px;
    opacity: 0.6;
}

.h-containor {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    width:100%;
    height:524px;
    color: bisque;
}

.heading {
    display: inline-block;
   
    text-shadow: 1px 1px rgb(177, 122, 122);
}

.home-content {

    display: inline-block;
   
    width: 600px;
    font-size: 18px;
    text-align: center;
    text-shadow: 1px 1px rgb(177, 122, 122);

}

.home-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-shadow: 1px 1px rgb(177, 122, 122);
    align-items: center;
    margin-top: 20px;
}

.btn {
    border: none;
    border: 2px rgb(177, 122, 122) solid;
    border-radius: 15px;
    padding: 5px 40px;
    background-color: bisque;
    color: rgb(177, 122, 122);
    cursor: pointer;
    /* line-height: 0px; */
}

.service-containor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #606363;
    text-shadow: 1px 1px white;
    
}

.service-content img {
    border: 2px solid  rgb(177, 122, 122);
    border-radius: 80px;
    box-shadow: 5px 5px 4px rgb(255, 196, 232);
    display: inline-block;
    width: 150px;
    height: 150px;
}

.service-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 220px;
}

.s-containor {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.services::before {

    content: "";
    background-image: url('beauty-4993470_1280.jpg');
    /* background-repeat: no-repeat; */
    left: 0px;
    position: absolute;
    width: 100%;
    height: 325px;
    z-index: -1;

    opacity: 0.4;
}

.s-heading {
    font-size: 25px;
}

/* hair style */
.style-containor{
    display: flex;
    flex-direction: column;
    color: bisque;
    height: 606px;
    text-shadow: 1px 1px rgb(177, 122, 122);
    align-items: center;
}
.style-content{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    color: #606363;
    text-shadow: 1px 1px white;
}
.style-content img{
    display: inline-block;
    border: solid 2px bisque;
    border-radius: 10px;
    width: 150px;
    height: 150px;
}
.boys{
    display: flex;
    flex-direction: column;
    border: solid 2px bisque;
    border-radius: 24px;
    width: 500px;
    height: 430px;
    align-items: center;
    color: bisque;
    text-shadow: 1px 1px rgb(177, 122, 122);
    box-shadow: 3px 3px 3px bisque;
    
    
}
.boys::before {

    content: "";
    background-image: url('beauty-4993470_1280.jpg');
    background-repeat: no-repeat;
    border: solid 2px bisque;
    border-radius: 24px;
    /* left: 0px; */
    position: absolute;
    width: 500px;
    height: 430px;
    z-index: -1;

    opacity: 0.4;
}
.girls{
    display: flex;
    flex-direction: column;
    border: solid 2px bisque;
    border-radius: 24px;
    width: 500px;
    height:430px;
    align-items: center;
    color: bisque;
    text-shadow: 1px 1px rgb(177, 122, 122);
    box-shadow: 3px 3px 3px bisque;
}
.girls::before {

    content: "";
    background-image: url('beauty-4993470_1280.jpg');
    background-repeat: no-repeat;
    border: solid 2px bisque;
    border-radius: 24px;
    position: absolute;
    width: 500px;
    height: 430px;
    z-index: -1;

    opacity: 0.4;
}
.images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* width: 500px; */
    justify-content: space-evenly;
    height: 350px;
    align-items: center;
   
}
.style-h1{
    font-size: 30px;
    color: bisque;
    text-shadow: 1px 1px rgb(177, 122, 122);
}

.style-containor::before {

    content: "";
    /* background-image: url('abstract-black-stripes-diagonal-background-free-vector.webp');
    background-repeat: no-repeat; */
    background-color:#4a2e40;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 606px;
    z-index: -2;

    opacity: 0.5;
}

/* about */
.a-containor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 264px;
    color: white;
}

.a-content {

    display: inline-block;
   
    width: 600px;
    font-size: 18px;
    text-align: center;
   

}

.a-containor::before {

    content: "";
    background-image: url('hair-salon-5200393_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
   
    left: 0px;
    position: absolute;
    width: 100%;
    height: 265px;
    z-index: -1;

    opacity: 0.7;
}

.footer-containor::before {

    content: "";
    background-image: url('internet-6373224_640.webp');
    background-repeat: no-repeat;
    background-size: cover;
   
    left: 0px;
    position: absolute;
    width: 100%;
    height: 80px;
    z-index: -1;

    opacity: 0.5;
}
.footer-containor{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.contact{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
